*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;
    /* Google font */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
nav{
    padding: 20px 10%;
    height: 15vh;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 6%;
    font-weight: 600;
}
nav ul li img{
    width: 100px;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.main-left{
    width: 40%;
}
.main-left h1{
    font-size: 60px;
}
.main-left p{
    margin: 5% 0;
}
.main-left button{
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
}
.main-right{
    margin-right: 20px;
}
